/* background */

body{
    background-image: url(12426.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover
}

/* nav */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    z-index: 1000;
    animation: typing 2s;

}

.logo {
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    margin-top: 7px;

}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.6s;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a:hover, .logo:hover {
    color: #193f70;
}

/* about me */

.about{
    font-size: 32px;
}

.about h1 span {
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px #151b29;
}

.about h1 span::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid #151b29;
    color: #151b29;
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 5s linear infinite;
}

#aboutsection {
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 60px;
}

#aboutsection p {
    color: rgb(255, 255, 255);
}

#aboutsection h1 {
    margin-top: 30px;
}

.aboutme {
    background: #333;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    transition: transform 0.3s ease;
    animation: fadeIn 2s ease-in-out;
}

/* animation */
@keyframes typing {
    from {width: 0;}
    to {width: 100%;}
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fill-text {
    10%, 100% {
        width: 0;
    }
    78%, 90% {
        width: 100%;
    }
}
